body
{
    background-color:white;
    font-family: 'Oswald', sans-serif;
}


.nav-item {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}
.nav-item :before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: white;
    height: 2px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.nav-item :hover:before, .nav-item :focus:before, .nav-item :active:before {
    left: 0;
    right: 0;
}



.container1
{
    height: 100vh;
}

.cont1__img1
{
    height: 100vh;
    width: 100%;
}

.container2
{
    height: 120vh;
    display: flex;
}


.container2-1
{
    display: flex;
    height: 50vh;
    justify-content: center;
    margin-top:50px;
}


.container2_titulo
{
    font-size: 40px;
    margin-left: 20px;
    font-weight: 700;
    text-align:center;
    margin-top: 100px;
}

.container2_subt
{
    font-size: 20px;
    margin-left: 2px;
    font-weight: 700;
    text-align:center;
    color:#97858D;
}

#carouselExampleControls
{
    display: flex;
    width: 60%;
    height: 120%;   
}

.carousel-control-next-icon
{
    background-color: tomato;
}

.carousel-control-prev-icon
{
    background-color: tomato;
}

.carousel-caption 
{
    color:black;
    margin-top:200px;
}


.container2-2_titulo
{
    font-size: 40px;
    margin-left: 150px;
    font-weight: 700;
    text-align:center;
    margin-top: 100px;
}


.container2-2_img1
{
    margin-left: 160px;
    height: 80px;
    width: 80px;    
}

.container2-2_img2
{
    margin-left: 50px;
    height: 80px;
    width: 80px;
}

.container2-2_img3
{
    margin-left: 50px;
    height: 80px;
    width: 80px;
}

.container2-2_img4
{
    margin-left: 120px;
    margin-top:50px;
    height: 280px;
    width: 450px;
}


.icono
{
    transition: transform .6s;     
}

.icono:hover {
    transform: scale(1.10); 
}


.container2-2_btn
{
    display: flex;
    color: white;
    background-color: black;
    text-decoration: none;
    font-size: 15px;
    padding: 6px 19px;
    margin-left:315px;
    margin-top:20px;
    margin-bottom: 20px;
    width: 100px;
    height: 40px;
    font-weight: 200;

}

a:hover 
{
    text-decoration: none;
    color: #f5f5f5 !important;

}

.container2-2_btn-grow 
{
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.container2-2_btn:hover, .container2-2_btn-grow:focus, .container2-2_btn-grow:active 
{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.containter4
{
    width: 70%;
}

.container4
{
    height: 70vw;
    margin-top: 50px;
}


/* Tit1,tit2 y parrafo*/
.container4-titulo1
{
    font-size: 80px;
    font-weight: 700;
    margin-top:130px;
}

.container4-titulo2
{
    font-size: 35px;
    font-weight: 400;
    font-style:italic;
    margin-top:150px;
    letter-spacing: 5px;
}

.container4-parrafo
{
    font-size: 20px;
    margin-top:100px;
}

.container5
{
    width: 100%;
    display: flex;
    margin-top: 100px;
    margin-bottom: 80px;
} 

/*____________________________________________*/
/*Galeria de imagenes*/

.container6
{
    display: flex;
    margin-top: 30px;
    margin-bottom:200px;
    margin-left: 60px;
    
}

.col-img1-gall
{
    margin-left: 50px;
    height: 700px;
    width: 800px;
}

.col-img2-gall
{
    margin-left: 40px;
    width: 300px;
}

.col-img3-gall
{
    margin-left: 40px;
    margin-bottom: 10px;
    height: 325px;
    width: 300px;
}

.col-img4-gall
{   
    margin-left: 25px;
}

.col-img5-gall
{
    margin-left: 25px;
    margin-top: 30px;
}

.galeria__img:hover{
    opacity: 50%;
}



/*____________________________________________*/
/* Card Longboard/Skater*/

/* Titulo Longboard*/
.titulo-logboard
{
    font-size: 50px;
    font-weight:900;
    margin-top: 15px;   
    margin-bottom: 35px;
    margin-left: 25px;
    font-style:italic;
    color:#211313;
    animation-iteration-count: 1;
    animation-duration: 4s;
    animation-name: entradaizq ;
    overflow:hidden;
    
    
}

/* Titulo Skater*/
.titulo-skater
{
    font-size: 50px;
    font-weight:900;
    margin-top: 15px;   
    margin-bottom: 35px;
    margin-left: 25px;
    font-style:italic;
    color:#211313;
    animation-iteration-count: 3;
    animation-duration: 3s;
    animation-name: entradaizq ;
    overflow:hidden;
    
}


.p-logboard
{
    font-size: 20px;
    text-align: center;    
    font-weight: 400;
}
.container7
{
    margin-bottom: 50px;
    border-top:1px white double;
    border-bottom:1px white double;
    padding-top: 80px;
    padding-bottom: 100px;  
    background-color: white;
}

.container8
{
    margin-bottom: 50px;
    border-top:1px white double;
    border-bottom:1px white double;
    padding-top: 80px;
    padding-bottom: 100px;
    background-color: white;
}

/* ver mas*/
.cart {
    background-color: #212121;
    color: white;
    font-size: 12px;
    margin-top: 10px;
    font-weight: 900;
    width: 100%;
    height: 39px;
    padding-top: 9px;
    box-shadow: 0px 5px 10px #212121;

}

.card {
    width: fit-content;
    margin-left: 180px;
    
}

.card-body 
{
    width: fit-content;
}

.btn {
    border-radius: 0;
}

.img-thumbnail 
{
    border: none;
    height: 230px;
    width: 120px;
    
}

.card 
{
    box-shadow: 0 20px 40px rgba(0, 0, 0, .2);
    border-radius: 5px;
    padding-bottom: 10px;
    width: 200px;
    animation-iteration-count: 1;
    animation-duration: 4s;
    animation-name: entradacard ;
    overflow:hidden;
    
}

.card-title
{
    font-size: 12px;
    text-align: center;
    margin: 2px 3px;
}

.card-text
{
    font-size: 15px;
    text-align: center;
    margin-top:9px;
    font-weight: 600;

}

/*Animacion CARD*/
@keyframes entradacard {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 400px, 0);
        transform: translate3d(0, 400px, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
.animate__entradacard{
    -webkit-animation-name: entradacard;
    animation-name: entradacard;
}


/*Animacion TITULOS CARD*/

@keyframes entradaizq {
    from {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

/*____________________________________________*/

/*Animacion CARD*/
@keyframes entradacard {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 400px, 0);
        transform: translate3d(0, 400px, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
.animate__entradacard{
    -webkit-animation-name: entradacard;
    animation-name: entradacard;
}



/*____________________________________________*/
/*Animacion Zoom imagenes*/

.zoom 
{
    transition: transform .6s;     
}

.zoom:hover {
    transform: scale(0.8); 
}


/*____________________________________________*/
/*Footer*/


/*Background Footer*/

.bg-grey
{
    background: #292929;
    height: 60vh;
}


.container-fluid
{
    width: 220vh;
}


/*Logo Footer*/

.logo-footer 
{
    margin-bottom: 20px;
    margin-left: 20px;
    height: 65px;
    width: 65px;
}

/*Color letra Footer*/


footer 
{
    color: grey;
}

.footer-p
{
    font-size: 13px;
}

/*Tamaño de los parrafos y de los links*/


/*Posicion del H6 con respecto a los botones*/

footer h6 
{
    margin-bottom: 20px;
    margin-left: 25px;
    position: relative;
}


.btn-footer 
{
    color: grey;
    text-decoration: none;
    border: 1px solid;
    border-radius: 43px;
    font-size: 13px;
    padding: 7px 30px;
    line-height: 47px;
}


.btn-footer:hover {
    text-decoration: none;
}


::placeholder 
{
    font-size: 10px;
    padding-left: 10px;
    font-style: italic;
}


.social-face
{
    width:35px;
    height:35px;
}


.social-insta
{
    width:35px;
    height:35px;
}


.social-twit
{
    width:35px;
    height:35px;
}

footer ul  li a
{
    color: grey;
    text-decoration:none;
    list-style: none;
    font-size: 12px;
}

.txt-footer
{
    text-decoration:none;
    list-style: none;
}
a:hover 
{
    text-decoration: none;
    color: #f5f5f5 !important;

}





/*__________________________________________*/
/*PAGINA SKATERS*/

.img_borde
{
    width: 65px;
    height: 2300px;
}

.pg_sk
{
    margin-top: 100px;
    font-size: 50px;
    margin-left: 40px;
    font-weight: 700;
}

















/*
.gridVenta__container
{
    display:grid;   
    grid-template-columns:repeat(5,1fr);    
    grid-template-rows: repeat(5,1fr);    
    margin-bottom: 100px;
    
}



.gridV__1
{
    width: 170px;
    height:300px;
    grid-column: 3/4;
    grid-row: 1/2;
    margin-top: 100px;
    
    
}

.gridV__2
{
    width: 170px;
    height:300px;
    grid-column: 4 /5;
    grid-row: 1/2;
    margin-top: 100px;
}

.gridV__3
{
    width: 170px;
    height:300px;
    grid-column: 5/6;
    grid-row: 1/2;
    margin-top: 100px;

}

.gridV__4
{
    width: 170px;
    height:300px;
    grid-column: 3/4;
    grid-row: 2/3;
    margin-top: 100px;
}

.gridV__5
{
    width: 170px;
    height:300px;
    grid-column: 4/5;
    grid-row: 2/3;
    margin-top: 100px;
}

.gridV__6
{
    width: 170px;
    height:300px;
    grid-column: 5/6;
    grid-row: 2/3;
    margin-top: 100px;
}

.gridV__7
{
    width: 170px;
    height:300px;
    grid-column: 3/4;
    grid-row: 3/4;
    margin-top: 100px;
    
}

.gridV__8
{
    width: 170px;
    height:300px;
    grid-column: 4/5;
    grid-row: 3/4;
    margin-top: 100px;
}

.gridV__9
{
    width: 170px;
    height:300px;
    grid-column: 5/6;
    grid-row: 3/4;
    margin-top: 100px;
}

.gridV__10
{
    width: 170px;
    height:300px;
    grid-column: 3/4;
    grid-row: 4/5;
    margin-top: 100px;
}

.gridV__11
{
    width: 170px;
    height:300px;
    grid-column:4/5;
    grid-row: 4/5;
    margin-top: 100px;
}

.gridV__12
{
    width: 170px;
    height:300px;
    grid-column: 5/6;
    grid-row: 4/5;
    margin-top: 100px;
}

.gridV__13
{
    width: 170px;
    height:300px;
    grid-column: 3/4;
    grid-row:5/5;
    margin-top: 100px;
}

.gridV__14
{
    width: 170px;
    height:300px; 
    grid-column: 4/5;
    grid-row:5/5;
    margin-top: 100px;
}

.gridV__15
{
    width: 170px;
    height:300px;
    grid-column: 5/6;
    grid-row:5/5;
    margin-top: 100px;
}
*/
/*__________________________________________*/
/*IMAGENES BARRA LATERAL PAGINA LONGBOARD*/

.pagina3__borde
{
    position: absolute;
    display: block;
    width: 115px;
    height: 2765px;
}
.pagina3__img1
{
    width: 420px;
    height:400x;
    position:absolute;
    top:180px;
    left:125px;
}

.pagina3__img2
{
    width: 420px;
    height:360px;
    position:absolute;
    top:1500px;
    left:125px;
}

.pagina3__img3
{   
    width: 420px;
    height:380px;
    position:absolute;
    top:2100px;
    left:125px;
}